$brand-primary:rgba(255, 51, 51,1);
$navbar-inverse-bg:$brand-primary ;
$navbar-inverse-border: darken($navbar-inverse-bg,5%);
$navbar-inverse-link-color:#FEFEFE;
$navbar-inverse-link-hover-color:#FFF;
$navbar-inverse-link-hover-bg:$navbar-inverse-border;
$navbar-inverse-color:#FFF;
